[submodule "lib/ophidian-lib-core"]
	path = lib/ophidian-lib-core
	url = https://github.com/Roland0206/ophidian-lib-core.git
[submodule "docs"]
	path = docs
	url = https://github.com/aidenlx/obsidian-zotero-docs
[submodule "lib/eta"]
	path = lib/eta
	url = https://github.com/Roland0206/eta.git
